<!-- LOGIN PAGE TEMPLATE -->
<main class="uk-background-muted login-bg uk-cover-container">

    <div class="uk-container-xsmall uk-padding-large">
        <h1 class="text-light">{{display.appTitle}}</h1>
        <div class="uk-card uk-card-secondary">

            <div class="uk-card-body">

                <div class="uk-card-title">
                    <h1>{{display.loginBoxHeading}}</h1>
                </div>
                <hr class="uk-divider-icon">
                <!-- FORM -->
                <form class="uk-form-stacked">
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-expand">
                            <!-- INPUT USERNAME -->
                            <span
                                class="uk-form-icon"
                                uk-icon="icon: user"
                            ></span>
                            <input
                                id="username"
                                name="username"
                                class="uk-input"
                                type="text"
                                placeholder="Username"
                                required
                                [(ngModel)]="loginForm.username"
                            >
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline uk-width-expand">
                            <!-- INPUT PASSWORD -->
                            <span
                                class="uk-form-icon uk-form-icon"
                                uk-icon="icon: lock"
                            ></span>
                            <input
                                id="password"
                                name="password"
                                class="uk-input"
                                type="password"
                                placeholder="Password"
                                required
                                [(ngModel)]="loginForm.password"
                            >
                        </div>
                    </div>
                    <button
                        type="button"
                        (click)="ngOnSubmit($event)"
                        class="uk-button uk-width-expand uk-button-default"
                    >
                        {{display.btnCaption}}
                        <div
                            uk-spinner
                            *ngIf="display.loginLoader"
                        ></div>
                    </button>
                </form>

            </div>

        </div>
        <div class="uk-text-right uk-margin-small-top">
            <h2 class="text-light">{{display.subTitle}}</h2>
        </div>
        <diV>
            TEST:
            <span [innerText]="loginForm.username"></span>
        </diV>
    </div>
</main>
