/* You can add global styles to this file, and also import other style files */

@import "./assets/lib/colors.scss";
@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans&display=swap");

html {
  font-family: Open Sans !important;
}

.body,
.html {
  min-height: 100vh;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Dosis !important;
}
